body{
    /*background-color: #181818; 
    color:#fff;  */ 
    font-family: nunito, sans-serif;
    font-weight: 400;    
    font-style: normal;
    
    line-height: 1.5;
    text-align:center;
}
h1, h2, h3, h4, h5, h6{
 font-family: nunito, sans-serif;
}
h1{
    margin-top: 2.5%;
}
.nav{
    border: 1px solid black;
}
.nav-link{
    color: #000;
    font-family: nunito, sans-serif;
    font-size: 16px;
    /*text-decoration: underline;*/
    
}
.homepage{
    font-family: "IBM Plex Mono", monospace;
    font-weight: 600;
    /*font-style: italic;*/
}

.tags{
    list-style: none;
}

article{
	color: #000;
	font-size: 16px;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 400;    
    font-style: normal;
    /*border: 1px solid black;*/
}
.card{
    border: 1px solid #000;
}







