body{
    /*background-color: #181818; 
    color:#fff;  */ 
    font-family: 'Merriweather Sans', sans-serif;
    line-height: 1.5;
    font-size: 18px; 
    text-align: center;
}
h1, h2, h3, h4, h5, h6{
font-family: 'Nunito', sans-serif;

}
h1{
    margin-top: 2.5%;
}
.nav{
    
    background-color: #000;
    
}
.nav-link{
    color: #fff;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight: 800;
    /*text-decoration: underline;*/
    
}


.tags{
    list-style: none;
}


.card{
    border: 1px solid #000;
}







