body{
       
    font-family: 'Nunito', sans-serif;
    line-height: 1.5;
    font-size: 20px; 
    
}
h1, h2, h3, h4, h5, h6{
font-family: 'Nunito', sans-serif;

}
h1{
    margin-top: 2.5%;
    
}
.description{
    font-family: 'Lora', serif;
    font-style: italic ;
}
h2, h3, h4, h5, h6{
    color: #337ab7;
}

.nav{
    
    background-color:  #000;
    
}
.nav-link{
    color: #fff;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight: 800;
    text-decoration: none;
    
}


.page-tag{
    text-align: center;
}


.card{
    border: 1px solid #000;
    text-align: center;
}
.video{
    display: flex;
    justify-content: center;
}
img{
    margin-bottom: 20px;
}
mark{
    background: linear-gradient(120deg, #FFFF00 0%, #FFFF00 100%);
    background-repeat: no-repeat;
    background-size: 100% 40%;
    background-position: 0 90%;
}





